/** util */
.u-shadow {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
}

.u-mt {
  margin-top: 16px;
}

.u-ml {
  margin-left: 16px;
}

.u-card-hd-title {
  flex: 1;
  color: #7d84a7;
  font-weight: 700;
  font-size: 12px;
}

// arco-empty
.arco-empty {
  .arco-empty-image svg {
    stroke-width: 2;
  }
}

/** global light change   */
body {
  --shadow--type-1: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

  &:not([arco-theme='dark']) {
    /** edit arco-menu-light   */
    --u-theme-color: #00163a;
    --u-theme-sub-color: #00081a;
    --gray-3: 235, 235, 235;
    --color-text-1: #121212;
    --color-text-2: #444;
    --primary-6: 22, 93, 222;
    --primary-5: 22, 98, 227;
    --primary-7: 22, 103, 232;
    --red-6: 211, 53, 60;
    --red-5: 211, 53, 70;
    --red-7: 211, 53, 80;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    #nprogress .bar {
      background: rgb(var(--primary-6));
    }

    .arco-result-icon-success,
    .arco-result-icon-error,
    .arco-result-icon-info {
      .arco-result-icon-tip {
        width: 86px;
        height: 86px;
      }

      svg {
        width: 32px;
        height: 32px;
      }
    }

    .layout-content {
      background: rgb(var(--gray-2));
    }

    .layout:not(.layout-mobile) .layout-logo {
      color: #fff;
      font-size: 24px;
      background: var(--u-theme-color);
      box-shadow: -1px 0 0 1px var(--u-theme-color);

      &__name {
        color: rgba(#fff, 0.85);
      }
    }

    // mobile drawer
    .layout-menu--drawer .arco-drawer-body {
      padding: 0;
    }
    // desktop menu
    .layout-logo__icon-logo {
      color: rgba(#fff, 0.65);
      font-size: 18px;
    }

    // menu style change
    .arco-menu-light.layout-menu {
      background: var(--u-theme-color);
      // menu content
      .arco-menu-inner {
        padding-right: 0;
        padding-left: 0;
      }

      .arco-menu-inline-content {
        background: var(--u-theme-sub-color);
      }
      // default text color
      .arco-menu-inline-header,
      .arco-menu-icon svg,
      .arco-menu-icon-suffix svg,
      .arco-menu-item {
        color: rgba(#fff, 0.65);
        font-weight: 500;
        background: transparent;
        transition: 300ms;
      }
      // hover
      .arco-menu-inline-header:hover,
      .arco-menu-item:hover {
        background: rgba(#fff, 0.1);
      }

      // selected
      .arco-menu-inline-header.arco-menu-selected {
        &,
        .arco-menu-icon svg,
        .arco-menu-icon-suffix svg {
          color: rgba(#fff, 0.9);
        }
      }

      .arco-menu-item.arco-menu-selected {
        color: rgba(#fff, 1);
        background: rgb(var(--primary-6));
      }

      .arco-menu-collapse-button,
      .arco-menu-pop {
        background: transparent;
      }
    }

    // raw input
    .arco-input-wrapper,
    .arco-textarea-wrapper,
    .arco-picker,
    .arco-select-view-single,
    .arco-select-view .arco-textarea-wrapper,
    .arco-select-view .arco-form-item-content-wrapper,
    .arco-picker-range:not(.arco-picker-error) {
      background-color: transparent;
      border-color: var(--color-fill-3);

      &:hover {
        background-color: transparent;
        border-color: var(--color-fill-4);
      }

      & + .arco-input-append {
        border-color: var(--color-fill-3);
        border-left-color: transparent;
      }
    }

    .arco-form-item-status-error {
      .arco-select-view:not(.arco-select-view-disabled),
      .arco-input-tag:not(.arco-input-tag-disabled),
      .arco-input-wrapper:not(.arco-input-disabled),
      .arco-textarea-wrapper:not(.arco-textarea-disabled),
      .arco-picker-error {
        border-color: var(--color-danger-light-2);
      }
    }

    // arco tooltip
    .arco-tooltip {
      --color-tooltip-bg: rgb(var(--gray-9));

      .arco-tooltip-content {
        box-shadow: var(--shadow--type-1);
      }
    }
  }

  // arco shadow
  .arco-dropdown {
    border-color: transparent;
    // .arco-tooltip-content {
    box-shadow: var(--shadow--type-1);
    // }
    .arco-dropdown-option {
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 22px;
    }
  }
  // arco table
  .arco-table {
    &-th {
      background-color: var(--color-neutral-1);
    }
  }
  // arco icon
  .arco-icon {
    stroke-width: 3;
  }
}
